.pagination {
  display: flex;
  margin: 20px 0;
  list-style: none;
  padding-left: 0;
}

.page,
.current-page {
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 10px;
}

.current-page {
  background-color: #61dafb;
}
